<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAN7nFDyIaKoiMaTOawDJEu5_wmxsoEPm0</string>
	<key>GCM_SENDER_ID</key>
	<string>535534057690</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pyl.tictactoe.1</string>
	<key>PROJECT_ID</key>
	<string>tic-tac-toe-db036</string>
	<key>STORAGE_BUCKET</key>
	<string>tic-tac-toe-db036.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:535534057690:ios:b6c9fdefbbc9076ca28de3</string>
</dict>
</plist>